.root {
    -fx-background-radius: 20;
    -fx-background-color: #5F807F;
}

.hyperlink {
    -fx-text-fill: "white";
    -fx-focus-color: transparent; /*border glow*/
    -fx-underline: false;
}

#hyper-cancel {
    -fx-text-fill: #9a9a9a;
}

.button {
    -fx-background-radius: 0 0 20 20;
    -fx-text-fill: #5F807F;
    -fx-background-color: #F2F2F2;
    -fx-font-size: 16px;
}

.text-field {
    -fx-alignment: center;
    -fx-text-fill: "white";
    -fx-border-color: transparent transparent "white" transparent; /*top, right, bottom, left  */
    -fx-border-width: 0 0 0.5 0; /*top, right, left, bottom  */
    -fx-background-color: transparent;
}

.password-field {
        -fx-alignment: center;
        -fx-text-fill: "white";
        -fx-border-color: transparent transparent "white" transparent; /*top, right, bottom, left  */
        -fx-border-width: 0 0 0.5 0; /*top, right, bottom, left  */
        -fx-background-color: transparent;
}

#SideMenu {
    -fx-background-color: #5F807F;
    -fx-background-radius: 20 0 0 20; /*top left, top right, bottom right, bottom left  */
}

#TableControls {
    -fx-background-color: "lightgray";
    -fx-background-radius: 20 20 0 20; /*top left, top right, bottom right, bottom left  */
}

#AppClose {
    -fx-text-fill: #5F807F;
}

#AppMinimize {
    -fx-text-fill: #5F807F;
}

#table {
    -fx-background-radius: 0 0 20 0; /*top left, top right, bottom right, bottom left  */
}

#searchBar {
        -fx-border-width: 0.5 0.5 0.5 0.5; /*top, right, bottom, left  */
        -fx-background-color: "white";
}

#addBtn {
    -fx-text-fill: #5F807F;
}

#removeBtn {
    -fx-text-fill: #5F807F;
}

#editBtn {
     -fx-background-color: transparent;
}

#searchBtn {
    -fx-background-color: transparent;
}

#searchText {
    -fx-alignment: center-left;
    -fx-text-fill: #5F807F;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0 0 0.5 0; /*top, right, bottom, left  */
    -fx-background-color: transparent;
}

#searchText:focused {
    -fx-border-color: #5F807F;
}

#profilePic {
    -fx-background-radius: 10 10 10 10;
    -fx-border-width: 0.5 0.5 0.5 0.5; /*top, right, bottom, left  */
    -fx-border-color: "black"; /*top, right, bottom, left  */
}

#CSVBtn {
    -fx-background-color: #5F807F;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-alignment: center-left;
}

#CSVBtn:hover {
    -fx-background-color: #89A1A0;
}

#accountSettingsBtn {
    -fx-background-color: #5F807F;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-alignment: center-left;
}

#accountSettingsBtn:hover {
    -fx-background-color: #89A1A0;
}

#AddShelfBtn {
    -fx-background-color: #5F807F;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-alignment: center-left;
}

#AddShelfBtn:hover {
    -fx-background-color: #89A1A0;
}

#check-btn {
    -fx-background-radius: 25;
    -fx-text-fill: #5F807F;
    -fx-font-size: 9px;
}

#cmb-area {
    -fx-background-color: #F2F2F2, #F2F2F2, #F2F2F2, #F2F2F2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

#cmb-cat {
    -fx-background-color: #F2F2F2, #F2F2F2, #F2F2F2, #F2F2F2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
}

#cmb-she {
    -fx-background-color: #F2F2F2, #F2F2F2, #F2F2F2, #F2F2F2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
}

#cmb-sup {
    -fx-background-color: #F2F2F2, #F2F2F2, #F2F2F2, #F2F2F2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
}

#cmb-opt {
    -fx-background-color: #F2F2F2, #F2F2F2, #F2F2F2, #F2F2F2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
}

#prod-bg{
    -fx-background-color: #F2F2F2;
}

#supplier-bg {
    -fx-background-color: #F2F2F2;
}

#btn-prodadd{
    -fx-background-color: #5F807F;
    -fx-text-fill: #F2F2F2;
}
#btn-supplier {
    -fx-background-color: #5F807F;
    -fx-text-fill: #F2F2F2;
}

#txt-supplier {
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
    -fx-border-width: 0 0 1 0;
}

#txt-prodname{
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
    -fx-border-width: 0 0 1 0;
}

#txt-prodcost{
    -fx-border-color: #000000;
    -fx-text-fill: Black;
    -fx-border-width: 0 0 1 0;
}

#txt-prodprice{
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
    -fx-border-width: 0 0 1 0;
}

#txt-prodstock{
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
    -fx-border-width: 0 0 1 0;
}


#shelf-bg{
    -fx-background-color: #F2F2F2;
}

#prod-edit-bg{
    -fx-background-color: #F2F2F2;
}

#btn-editprod{
    -fx-background-color: #5F807F;
    -fx-text-fill: #F2F2F2;
}

#cmb-editsh{
    -fx-background-color: #F2F2F2, #F2F2F2, #F2F2F2, #F2F2F2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #000000;
}

#cmb-editcat{
    -fx-background-color: #F2F2F2, #F2F2F2, #F2F2F2, #F2F2F2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
}

#cmb-prodstoedit{
    -fx-background-color: #F2F2F2, #F2F2F2, #F2F2F2, #F2F2F2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
}

#cat-bg{
    -fx-background-color: #f2f2f2;
}

#btn-cat{
    -fx-background-color: #5F807F;
    -fx-text-fill: #f2f2f2;
}

#txt-cat{
    -fx-text-fill: black;
    -fx-border-color: black;
}

#txt-set{
    -fx-text-fill: black;
    -fx-border-color: black;
}

#btn-set{
    -fx-background-color: #5F807F;
    -fx-text-fill: #f2f2f2;
}

#set-bg{
    -fx-background-color: #f2f2f2;
}

#bg-del{
    -fx-background-color: #f2f2f2;
}

#btn-del{
    -fx-background-color: #5F807F;
    -fx-text-fill: #f2f2f2;
}

#txt-del{
    -fx-text-fill: black;
    -fx-border-color: black;
}

#cmb-del{
    -fx-background-color: #F2F2F2, #F2F2F2, #F2F2F2, #F2F2F2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}