.root {
    -fx-background-radius: 20;
    -fx-background-color: #5F807F;
}
.hyperlink {
    -fx-text-fill: "white";
    -fx-focus-color: transparent; /*border glow*/
    -fx-underline: false;
}

.button {
    -fx-background-radius: 0 0 20 20; /*top left, top right, bottom right, bottom left  */
    -fx-text-fill: #5F807F;
    -fx-background-color: #F2F2F2;
    -fx-font-size: 16px;
}

.text-field {
    -fx-alignment: center;
    -fx-text-fill: "white";
    -fx-border-color: transparent transparent "white" transparent; /*top, right, bottom, left  */
    -fx-border-width: 0 0 0.5 0; /*top, right, left, bottom  */
    -fx-background-color: transparent;
}
.password-field {
        -fx-alignment: center;
        -fx-text-fill: "white";
        -fx-border-color: transparent transparent "white" transparent; /*top, right, bottom, left  */
        -fx-border-width: 0 0 0.5 0; /*top, right, bottom, left  */
        -fx-background-color: transparent;
}

#SideMenu {
    -fx-background-color: #5F807F;
    -fx-background-radius: 20 0 0 20; /*top left, top right, bottom right, bottom left  */
}

#TableControls {
    -fx-background-color: "lightgray";
    -fx-background-radius: 20 20 0 20; /*top left, top right, bottom right, bottom left  */
}

#AppClose {
    -fx-text-fill: #5F807F;
}
#AppMinimize {
    -fx-text-fill: #5F807F;
}
#table {
    -fx-background-radius: 0 0 20 0; /*top left, top right, bottom right, bottom left  */
}

#searchBar {
        -fx-border-width: 0.5 0.5 0.5 0.5; /*top, right, bottom, left  */
        -fx-background-color: "white";
}

#addBtn {
    -fx-text-fill: #5F807F;
}
#removeBtn {
    -fx-text-fill: #5F807F;
}

#editBtn {
     -fx-background-color: transparent;
}
#searchBtn {
    -fx-background-color: transparent;
}
#searchText {
        -fx-alignment: center;
        -fx-text-fill: #5F807F;
        -fx-border-color: #5F807F;
        -fx-border-width: 0.5; /*top, right, bottom, left  */
        -fx-background-color: transparent;
}
#profilePic {
    -fx-background-radius: 10 10 10 10;
    -fx-border-width: 0.5 0.5 0.5 0.5; /*top, right, bottom, left  */
    -fx-border-color: "black"; /*top, right, bottom, left  */
}

#CSVBtn {
    -fx-background-radius: 10;
    -fx-text-fill: #5F807F;
    -fx-font-size: 12px;
}
#accountSettingsBtn {
    -fx-background-radius: 10;
    -fx-text-fill: #5F807F;
    -fx-font-size: 12px;
}
#AddShelfBtn {
    -fx-background-radius: 10;
    -fx-text-fill: #5F807F;
    -fx-font-size: 12px;
}

#check-btn {
    -fx-background-radius: 25;
    -fx-text-fill: #5F807F;
    -fx-font-size: 9px;
}

#cmb-area {
    -fx-background-color: #F2F2F2, #F2F2F2, #F2F2F2, #F2F2F2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}